{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Solely Sneakers Shop</h1>

<h2>{{ name_creator }}</h2>
<h2>{{ npm_creator }}</h2>
<h2>{{ class_creator }}</h2>

<h3>{{ name }} </h3>
<img src="C:/Users/Lenovo/OneDrive/Desktop/Kuliah/PBP/Solely-sneakers-shop/main/static/ConverseOW.jpg" alt="Converse Chuck Taylor All Star Vulcanized Hi X Off-White" width="250" height="250">
<h3>Price : </h3>
<p>{{ price }}</p> 
<h3>Description : </h3>
<p style="text-align: justify;">{{ description }}</p> 

{% if not products_entries %}
<p>Belum ada data rating product.</p>
{% else %}
<table>
  <tr>
    <th>Nama Product</th>
    <th>Time</th>
    <th>Description</th>
    <th>Rating</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for product in products_entries %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.time}}</td>
    <td>{{product.description}}</td>
    <td>{{product.rating_barang}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_rating' %}">
  <button>Add Rating</button>
</a>
{% endblock content %}